p{
	justify-content:center;
}
body {
  background-image: url(img/Wall.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cc {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
p{
	color:white;
	font-family: times new roman;
}
h1{
	color:white;
	font-family: Arial;
	font-weight: bold;
}